<IfModule mod_rewrite.c>
  RewriteEngine On
  
  # Redirect http to https (Optional but recommended)
  RewriteCond %{HTTPS} off
  RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

  # Existing files/directories ko direct serve karein
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # Baki sab request ko index.html par "Rewrite" karein (Redirect nahi)
  RewriteRule ^ index.html [L]
</IfModule>