@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #0a0a0a; /* Matches brand-black */
  color: #ffffff;
  font-family: "Inter", sans-serif;
}
.min-h-screen {
  min-height: 100vh; /* Fallback */
  min-height: 100dvh; /* Modern Browser Fix */
}
::selection {
  background-color: #d90429; /* Your new Red */
  color: #ffffff;
}

@media (hover: none) and (pointer: coarse) {
  .custom-cursor {
    display: none !important;
  }
  body {
    cursor: auto !important; /* Restore default touch behavior */
  }
}
@media (min-width: 768px) {
  body {
    cursor: none; /* Hides the default arrow */
  }

  a,
  button,
  input,
  textarea {
    cursor: none; /* Ensures the hand icon doesn't appear over links */
  }
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none; /* IE and Edge */
  scroll-behavior: smooth; /* Essential for one-page navigation */
  -webkit-tap-highlight-color: transparent;
}

/* Custom Scrollbar for Webkit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #262626; /* Dark gray */
  border-radius: 99px;
  border: 2px solid #0a0a0a; /* Creates padding effect */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #404040;
}

/* Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: #262626 #0a0a0a;
}
