@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #0a0a0a; /* Matches brand-black */
  color: #ffffff;
  font-family: "Inter", sans-serif;
}
.min-h-screen {
  min-height: 100vh; /* Fallback */
  min-height: 100dvh; /* Modern Browser Fix */
}
::selection {
  background-color: #d90429; /* Your new Red */
  color: #ffffff;
}
/* Hide Scrollbar for Chrome, Safari and Opera (cleaner look) */
::-webkit-scrollbar {
  display: none;
}
@media (hover: none) and (pointer: coarse) {
  .custom-cursor {
    display: none !important;
  }
  body {
    cursor: auto !important; /* Restore default touch behavior */
  }
}
@media (min-width: 768px) {
  body {
    cursor: none; /* Hides the default arrow */
  }

  a,
  button,
  input,
  textarea {
    cursor: none; /* Ensures the hand icon doesn't appear over links */
  }
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  scroll-behavior: smooth; /* Essential for one-page navigation */
  -webkit-tap-highlight-color: transparent;
}
